.politicas{
    width: 100%;
    height: 730px;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50c9, #bdc3c7b7), url(../Imagenes/politicas\ de\ calidad.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

@media screen and (max-width:900px){
    .politicas{
        background-position:center;
        height: 800px;
        width: 425px;
    }


    .politicas-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        display: block;
    }

    .politicas-section img{
        position: absolute;
    }

    .sobre-nosotros .contenido-textos{
        width: 100%;
        padding-left: 40px;
        padding-top: 300px;
    }

    .titulo{
        justify-content: center;
        text-align: center;
        width: 425px;
        padding-top: 10px;
    }

    .politicas-section .ul-contenido-textos{
        width: 100%;
        padding-left: 40px;
        padding-top: 100px;
    }
}
